<MapComponent [Center]="[-122.4,37.34]" [Zoom]="14">
  <TerrainLayerComponent
    [ElevationDecoder]="{   
      rScaler: 2,
      gScaler: 0,
      bScaler: 0,
      offset: 0}"
    [ElevationData]="'https://raw.githubusercontent.com/visgl/deck.gl-data/master/website/terrain.png'"
    [Interleaved]="true"
    [Bounds]="[-122.5233, 37.6493, -122.3566, 37.8159]"
    [Texture]="'https://raw.githubusercontent.com/visgl/deck.gl-data/master/website/terrain-mask.png'"
  ></TerrainLayerComponent>
</MapComponent>
