<DeckGLComponent
  [Center]="[87.15609686851167,54.22993514648337]"
  [Zoom]="14"
  [Controller]="this.MapController"
>
  <ToolbarWidgetComponent [Id]="'ToolbarWidget'">
    <DrillingProjectsLoaderComponent [Id]="'DrillingProjects'" />
    <TransportsLoaderComponent [Id]="'Transports'" />
    <TerrainLoaderComponent [Id]="'Terrain'" />
  </ToolbarWidgetComponent>

  <SimpleMeshLayerDirective
    [Id]="'SimpleMeshDirective'"
    [Mesh]="'https://raw.githubusercontent.com/visgl/deck.gl-data/master/website/humanoid_quad.obj'"
    [Data]="this.Data"
    [SizeScale]="30"
  >
    <TerrainMeshExtensionDirective />
  </SimpleMeshLayerDirective>
</DeckGLComponent>
